.heroContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0%;  
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: 1rem;
    line-height: 1.5;  
  }
  .heroContainer img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    transform: scale(1.1); 
    margin-top: 20px;
  }
  .heroContainer p {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    padding: 5px;
    text-align: center;
  }
  .heroContainer p:last-child{
    color:rgb(194, 189, 189);
    margin-top: 0;}

@media screen and (min-width: 1024px) {
  .heroContainer{
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-start;
    flex-wrap:nowrap;  
  }
  .heroContainer img{
    width: 360px;
    height: 360px;
    margin-top: 90px;
    margin-left: 100px;
    margin-right: 60px;
  }
  .textContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 40rem;
    margin-left: 25px;
  }
  .heroContainer p {
    text-align: left;
  }