/* Main style*/
.portfolio{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  font-size: 0.6rem;
  background-color: rgb(248, 244, 248);
}
.portfolioContainer{
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.portfolio h2 {
  color:rgb(209, 206, 206);
  margin-bottom: 3rem;
}
.projects-grid{
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  max-width: 100%;
  max-height: 50%;
}
.project-card{
  background-color: white;
  font-size: 0.8rem;
  text-align: left;
  justify-self: center;
  border-radius: 2%;
  box-shadow:0 6px 10px rgb(209, 206, 206);
  max-width: 80%;
  margin-bottom: 1rem;
}
.project-card img{
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 2%;
}
.project-card h3{
  padding: 1rem;
  margin: -0.8rem;
  margin-left: 0.5rem;
}
.project-card p{
  margin-left: 1.3rem;
  color: rgb(197, 195, 195);
}
.tech-details{
  display: flex;
  flex-wrap: wrap;
  gap:0.8rem;
  list-style:none;
  justify-content: flex-start;
  padding:0.7rem;
  margin: 0.6rem;
}
.tech-details li{
  background-color: rgb(235, 232, 232);
  border-radius: 10%;
  padding: 0.3rem 0.5rem;
}

/* Main for tablet device*/
@media screen and (min-width:768px) {
.projects-grid{
  grid-template-columns: repeat(2, minmax(280px,400px));
  justify-content: center;
}
.project-card{
  width: 80%;
  max-width: 350px;
}
}

/*Main for Desktop*/
@media screen and (min-width:1024px) {
.projects-grid{
  grid-template-columns: repeat(3, minmax(280px,400px));
  justify-content: center;
}
}