/* Footer style */
  .html, body{
    margin:0;
    padding: 0;
  }
  .footerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    padding: 20px 0px 20px 0px;
    margin: 0;
    width: 100%;
    height: 100%;
    color:white;
  }
  .footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
  }
 .logo-text{
    background-color: rgb(255, 255, 255);
    color: rgb(4, 4, 4);
    font-size: 1rem;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
 }
 .footerContainer p:last-child{
    text-align: center;
    flex-wrap: wrap;
    margin-right: 0.5rem;
 }
 
 /* Header and footer style for desktop */
 @media screen and (min-width: 1024px) {
  .headerContainer, .heroContainer{
    max-width: 1200px;
    margin: 0 auto;
  }
  .footerContainer{
    font-size: 1rem;
    margin:0;
    padding:40px 0;
  }
  .footerContainer p{
    text-align: justify;
  } 
 }