/*Header style*/
header{
  padding: 0%;  
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight:lighter; 
  font-size: 0.5rem;
  width:100%;
  height: 100%;
  border-bottom: 1px solid gainsboro;
}
.headerContainer{
 display: flex;
 align-items: center;
 justify-content: space-between;
 flex-flow: row;
 width: 100%;
 padding: 0 20px; 
}
header h2{
  background-color: black;
  color: rgb(253, 253, 253);
  font-weight:lighter;
  font-size: 1rem;
  width: 45px;
  height: 45px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.8rem;
} 
.menu-toggle{
  display: block; 
  background: none;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  margin-left: auto;
  margin-right: 20px;
}
.main-nav{
  display:none;
}

/* Header style for tablet */
@media (min-width:768px) {
  .headerContainer{
    justify-content: flex-start;
    margin-left: 3rem;
  }
  .main-nav{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    flex-grow: 0.6;
    margin:auto; 
    font-size: 1rem; 
  }
  .main-nav a{
    text-decoration: none;
    color:black;
  }
  .menu-toggle{
    display:none;
  }
}
