.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  border-radius: 15px;
  margin: 10px auto;
  margin-top: 10%;
  margin-bottom: 20px;
  background-color: black;
  color: rgb(253, 253, 253);
  padding: 0%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bolder;
  font-size: 0.5rem;
  width: auto;
  font-weight: lighter;
  font-size: 1rem;
  text-decoration: none;
  width: 200px;
  height: 50px;
  padding: 0 20px;
}

@media screen and (min-width: 1024px) {
  .btn {
    margin-bottom: 5%;
    margin-top: 5%;
    font-size: 1rem;
    font-weight: bold;
    justify-content: center;
  }
}
